.part-wrapper,
.input-wrapper {
	padding: 1rem;
	background-color: var(--light-gray);
	color: var(--white);
	font-family: "Roboto", sans-serif;
	border-radius: 1rem;
	max-width: 650px;
	cursor: pointer;
}

.create-post {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 5rem;
	margin-left: 1rem;
}

.input-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 0.5rem;
	padding: 3rem;
}

.part-wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 1rem;
	width: 650px;
}

.part-label {
	font-size: 18px;
	text-decoration: underline;
}

.post-header {
	font-size: 2rem;
	border-bottom: 2px solid white;
}

.input-form-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 2rem;
}
.pre-input-nav {
	display: flex;
	justify-content: center;
	gap: 0.5rem;
	padding-bottom: 0.5rem;
	cursor: default;
}

.pre-input-nav > button {
	background-color: inherit;
	color: var(--white);
	border-radius: 15px;
	font-size: 18px;
	padding: 0.5rem 1rem;
	border: 1px solid var(--white);
	cursor: pointer;
}
.pre-input-nav > button:hover {
	box-shadow: inset 0px 0px 0px 2px #bbb2a9;
}

.post-input {
	margin: none;
	padding: none;
	border: none;
	resize: none;
	border-radius: 15px;
	font-size: 18px;
	width: 650px;
}

.link-input {
	color: black;
	border-radius: 15px;
	font-size: 18px;
	width: 650px;
}
.img-input {
	color: inherit;
	border-radius: 15px;
	font-size: 18px;
	width: 650px;
}

.img-btn,
.link-btn {
	margin: 5px;
	padding: 0.5rem 1rem;
	border: 1px solid var(--white);
	border-radius: 15px;
	font-size: 16px;
	font-weight: 500;
	width: 130px;
}

.input-test,
.input-test-full {
	font-size: 16px;
	border-radius: 15px;
	padding: 0.5rem;
}

.input-test {
	width: 400px;
}

.input-test-full {
	width: 650px;
}
.create-post-selector {
	font-size: 16px;
	border-radius: 15px;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
}

.datalist-div {
	display: flex;
	justify-content: center;
	gap: 0.5rem;
}

.datalist-div input {
	padding: 0.5rem;
	border-radius: 15px;
}
.create-post-view-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 0.5rem;
	margin-top: 5rem;
}
