.post,
.post-placeholder {
	background-color: var(--light-gray);
	margin: 1rem;
	padding: 1rem;
	color: var(--white);
	font-family: "Roboto", sans-serif;
	border-radius: 1rem;
	max-width: 650px;
	cursor: pointer;
}
.post:hover {
	box-shadow: inset 0px 0px 0px 2px #bbb2a9;
}
.post-placeholder {
	display: flex;
	justify-content: center;
	align-items: center;
}
.postlist {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.post-avatar {
	margin-right: 1rem;
	height: 50px;
	background-color: var(--dark-gray);
	border-radius: 50px;
}
.post-user-container {
	display: flex;
	align-items: center;
}
.post-top {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.post-username {
	color: var(--shadow-gray);
	font-size: 1rem;
	font-weight: 700;
}
.post-username-anchor {
	color: var(--Redwood);
}
.post-username-anchor:hover {
	border-bottom: 1px solid var(--Redwood);
}

.tag {
	margin: 5px;
	padding: 0.5rem 1rem;
	border: 1px solid var(--white);
	border-radius: 15px;
	user-select: none;
}

.post-title {
	font-size: 18px;
	font-weight: 700;
}
.post-body {
	padding: 1rem 0;
	font-size: 16px;
	font-weight: 500;
}

.post-lower {
	margin-top: 1rem;
	display: flex;
	align-items: flex-end;
	gap: 1.5rem;
}
.post-lower * {
	background-color: var(--white);
	color: var(--icon-faded);
	display: flex;
	align-items: center;
	border-radius: 15px;
	padding: 0.25rem 0.5rem;
}

.postlist-button {
	all: unset;
	display: flex;
	cursor: pointer;
	color: var(--icon-faded);
}

.postlist-button-content {
	font-family: "Roboto", sans-serif;
	font-size: 1rem;
	font-weight: 500;
}

.positive:active {
	background: rgba(0, 128, 0, 0.267);
}

.negative:active {
	background: rgba(255, 0, 0, 0.267);
}
